<div id="wrapper">
  <h1>Twisted Sifter Sorter</h1>
  <h2>
    <i>Enjoy... and be sure to leave a comment...</i>
  </h2>
  <div id="articles">
  <h2> Articles </h2>
    
  {{#each dbArticle}}
    <p data-id={{this._id}}> {{this.title}} </p> <br>
    <a href={{this.link}}>{{this.link}}</a><hr>
  {{/each}}
  </div>
  
  
  <div id="notes">

  </div>
   {{!-- <h2>comment</h2>
  <div id="commentLog"></div> --}}
</div>